Source: qstlink2
Section: unknown
Priority: extra
Maintainer: Fabien Poussin <mobyfab@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libqt4-dev, qt4-qmake, libusb-0.1-4, libusb-dev
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/qstlink2/
#Vcs-Git: git://git.debian.org/collab-maint/qstlink2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/qstlink2.git;a=summary

Package: qstlink2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-core, libqt4-gui, libqt4-xml, libusb-0.1-4
Description: ST-Link V2 Client based on QT.
 QSTLink2 is a multi-platform ST-Link V2 Client based on QT.
